* {
  box-sizing: border-box; 
}

body {
  background-color: #1E1E2E;
  color: White;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
}

.container {
  box-sizing: content-box;
  width: 500px;
  height: 500px;
  border: solid 2px White;
  display: flex;
  flex-wrap: wrap;
}

.container > div {
  border: solid 1px Grey;
  background-color: White;
}
